## An√°lise de Produtos

### üéØObjetivo dessa sec√ß√£o

Avaliar se os descontos aplicados realmente impulsionam vendas e lucro:

As principais perguntas a serem respondidas s√£o:  
‚úÖ Descontos altos realmente aumentam o volume vendido?  
‚úÖ Qual faixa de desconto gera **maior lucro**, n√£o apenas vendas?  
‚úÖ Existe desconto que **prejudica a margem**?
‚úÖ O impacto do desconto muda por pa√≠s ou segmento?

In [1]:
import pandas as pd

In [2]:
finances = pd.read_excel('../../database/financial.xlsx')
finances.head()

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Montana,High,200,5,350,70000.0,9800.0,60200.0,52000.0,8200.0,2014-05-01,5,May,2014
1,Small Business,Germany,Carretera,Low,214,3,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
2,Small Business,Germany,VTT,Low,214,250,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
3,Midmarket,Canada,Paseo,Low,218,10,15,3270.0,130.8,3139.2,2180.0,959.2,2014-09-01,9,September,2014
4,Government,Germany,Paseo,High,241,10,20,4820.0,482.0,4338.0,2410.0,1928.0,2014-10-01,10,October,2014

In [ ]:
# Descontos altos realmente aumentam o volume vendido?

discount_volume = (
    finances
        .groupby("discount_band")[["units_sold", "sales", "profit"]]
        .sum()
        .reset_index()
        .sort_values("units_sold", ascending=False)
)

discount_volume

  discount_band  units_sold        sales      profit
0          High      398079  37372486.74  3388866.74
2        Medium      379693  38780430.84  5579522.84
1           Low      261854  34629778.71  6188857.71
3   No Discount       86162   7943654.00  1736455.00

In [ ]:
# Qual faixa de desconto gera maior lucro, n√£o apenas vendas?

# Obter o relat√≥rio anterior para outro tipo de manipula√ß√£o
discount_performance = discount_volume.copy()

# Calculo de margem pelos descontos dados ou n√£o
discount_performance["profit_margin"] = (
    discount_performance["profit"] / discount_performance["sales"]
)

discount_performance.sort_values("profit", ascending=False)

  discount_band  units_sold        sales      profit  profit_margin
1           Low      261854  34629778.71  6188857.71       0.178715
2        Medium      379693  38780430.84  5579522.84       0.143875
0          High      398079  37372486.74  3388866.74       0.090678
3   No Discount       86162   7943654.00  1736455.00       0.218597

In [5]:
# Existe desconto que prejudica a margem?

discount_performance.sort_values("profit_margin")

  discount_band  units_sold        sales      profit  profit_margin
0          High      398079  37372486.74  3388866.74       0.090678
2        Medium      379693  38780430.84  5579522.84       0.143875
1           Low      261854  34629778.71  6188857.71       0.178715
3   No Discount       86162   7943654.00  1736455.00       0.218597

In [ ]:
# O impacto do desconto muda por segmento?

columns_grouping = ['segment', 'discount_band'] 
columns_summary = ['units_sold', 'sales', 'profit'] 

discount_by_segment = (
    finances
        .groupby(by=columns_grouping)[columns_summary]
        .sum()
        .reset_index()
)

discount_by_segment["profit_margin"] = (
    discount_by_segment["profit"] / discount_by_segment["sales"]
)


sort_columns = ['segment', 'profit_margin']
discount_by_segment.sort_values(sort_columns, ascending=[True, False])

,segment,discount_band,units_sold,sales,profit,profit_margin
3,Channel Partners,No Discount,18498,221976.00,166482.00,0.750000
1,Channel Partners,Low,35874,420973.50,313350.00,0.744346
2,Channel Partners,Medium,52170,582350.76,425837.76,0.731239
0,Channel Partners,High,54719,575293.38,411133.38,0.714650
7,Enterprise,No Discount,12199,1525000.00,61000.00,0.040000
5,Enterprise,Low,52836,6442215.63,101775.63,0.015798
6,Enterprise,Medium,43920,5115507.50,-154952.50,-0.030291
4,Enterprise,High,59594,6528971.25,-622368.75,-0.095324
11,Government,No Discount,30197,4136728.00,1117223.00,0.270074
9,Government,Low,108289,16622003.58,4087626.08,0.245917
10,Government,Medium,170175,15454138.40,3425938.40,0.221684
8,Government,High,162004,16291390.70,2757385.70,0.169254
15,Midmarket,No Discount,19370,290550.00,96850.00,0.333333
13,Midmarket,Low,28148,410392.50,128912.50,0.314120
14,Midmarket,Medium,52548,735086.18,209601.18,0.285138
12,Midmarket,High,72110,945854.41,224739.41,0.237605
19,Small Business,No Discount,5898,1769400.00,294900.00,0.166667
17,Small Business,Low,36707,10734193.50,1557193.50,0.145069
18,Small Business,Medium,60880,16893348.00,1673098.00,0.099039
16,Small Business,High,49652,13030977.00,617977.00,0.047424

In [19]:
# O impacto do desconto muda por pa√≠s?

columns_grouping = ['country', 'discount_band'] 
columns_summary = ['units_sold', 'sales', 'profit'] 

discount_by_country = (
    finances
        .groupby(by=columns_grouping)[columns_summary]
        .sum()
        .reset_index()
)

discount_by_country["profit_margin"] = (
    discount_by_country["profit"] / discount_by_country["sales"]
)

sort_columns = ['country', 'profit_margin']
discount_by_country.sort_values(sort_columns, ascending=[True, False])

,country,discount_band,units_sold,sales,profit,profit_margin
3,Canada,No Discount,19813,1827089.50,383606.50,0.209955
1,Canada,Low,61139,6537899.37,1140580.37,0.174457
2,Canada,Medium,71611,7865428.36,1093780.86,0.139062
0,Canada,High,94859,8657237.66,911261.16,0.105260
7,France,No Discount,16935,2517285.00,564005.00,0.224053
5,France,Low,55734,5913163.19,1061776.19,0.179561
6,France,Medium,88101,10057889.36,1619256.86,0.160994
4,France,High,80155,5865834.74,535982.74,0.091374
11,Germany,No Discount,25563,2485908.50,584980.50,0.235319
9,Germany,Low,52174,10316608.08,1847355.08,0.179066
10,Germany,Medium,71746,5824029.88,823095.88,0.141328
8,Germany,High,52010,4878794.36,424957.36,0.087103
15,Mexico,No Discount,12508,666222.00,133982.00,0.201107
13,Mexico,Low,40731,5588703.93,992141.93,0.177526
14,Mexico,Medium,71226,7864732.49,1131060.49,0.143814
12,Mexico,High,78860,6829693.69,650338.69,0.095222
17,United States of America,Low,52076,6273404.14,1147004.14,0.182836
19,United States of America,No Discount,11343,447149.00,69881.00,0.156281
18,United States of America,Medium,77009,7168350.75,912328.75,0.127272
16,United States of America,High,92195,11140926.29,866326.79,0.077761

## üéØ Impacto dos Descontos ‚Äî Insights

### üì¶ Descontos x Volume de Vendas
Descontos elevados aumentam significativamente o volume vendido, com **High Discount** liderando em unidades comercializadas.

---

### üí∞ Faixa de Desconto Mais Lucrativa
A faixa de **Low Discount** gera o maior lucro absoluto, equilibrando volume e margem. **High Discount** sacrifica rentabilidade.

---

### ‚ö†Ô∏è Eros√£o de Margem
A margem de lucro diminui consistentemente conforme o n√≠vel de desconto aumenta. Descontos elevados corroem o resultado financeiro.

---

### üßë‚Äçüíº Impacto por Segmento
- **Government:** alto volume e lucro
- **Channel Partners:** margens elevadas
- **Small Business:** alta sensibilidade a descontos
- **Enterprise:** descontos m√©dios e altos geram preju√≠zo

---

### üåç Impacto por Pa√≠s
O efeito negativo de descontos elevados √© consistente entre os pa√≠ses, com maior impacto nos **Estados Unidos**.

---

### üß† Conclus√µes da Etapa
Descontos devem ser usados de forma estrat√©gica e segmentada. Estrat√©gias agressivas comprometem a margem e o lucro.