
Este arquivo vamos responder algumas perguntas de neg√≥cio, para uma an√°lise mais aprofundada e gera√ß√£o de insight no final da etapa. 

## Desempenho Financeiro
‚úÖ Qual foi o **faturamento total (Sales)** por ano e por m√™s?  
‚úÖ Qual o **lucro total e margem de lucro** por per√≠odo?   
‚úÖ Houve crescimento ou queda de vendas e lucro ao longo do tempo?  
‚úÖ Quais meses apresentam **melhor e pior performance financeira**?

In [1]:
import pandas as pd

In [2]:
finances = pd.read_excel('../../database/financial.xlsx')
finances.head()

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Montana,High,200,5,350,70000.0,9800.0,60200.0,52000.0,8200.0,2014-05-01,5,May,2014
1,Small Business,Germany,Carretera,Low,214,3,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
2,Small Business,Germany,VTT,Low,214,250,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
3,Midmarket,Canada,Paseo,Low,218,10,15,3270.0,130.8,3139.2,2180.0,959.2,2014-09-01,9,September,2014
4,Government,Germany,Paseo,High,241,10,20,4820.0,482.0,4338.0,2410.0,1928.0,2014-10-01,10,October,2014

In [3]:
# Faturamento Mensal

# O dataset j√° possui algumas colunas auxiliares para data;
# usar elas para ordenar depois fica mais f√°cil
monthly_sales = (
    finances
        .groupby(['month_number', 'month_name'])['sales']
        .sum()
        .reset_index()
        .sort_values('month_number')
)

monthly_sales[['month_name', 'sales']]

   month_name        sales
0     January   6607761.69
1    February   7297531.39
2       March   5586859.87
3       April   6964775.08
4         May   6210211.06
5        June   9518893.82
6        July   8102920.19
7      August   5864622.42
8   September  10882697.27
9     October  21671431.02
10   November  12651417.50
11   December  17367228.98

In [4]:
# Faturamento Anual

# Assim como no bloco anterior usar a coluna 'year'
# √© mais f√°cil para manipula√ß√£o futuramente.
yearly_sales = (
    finances
        .groupby('year')['sales']
        .sum()
        .reset_index()
)

yearly_sales

   year        sales
0  2013  26415255.51
1  2014  92311094.78

In [5]:
# Margem de lucro mensal

monthly_profit_df = (
    finances
        .groupby(['month_number', 'month_name'])[['profit', 'sales']]
        .sum()
        .reset_index()
        .sort_values('month_number')
)

profit_margin_month = (
    monthly_profit_df
        .assign(profit_margin=lambda df: df['profit'] / df['sales'])
        [['month_name', 'sales', 'profit', 'profit_margin']]
)

profit_margin_month

   month_name        sales      profit  profit_margin
0     January   6607761.69   814028.69       0.123193
1    February   7297531.39  1148547.39       0.157388
2       March   5586859.87   669866.87       0.119900
3       April   6964775.08   929984.58       0.133527
4         May   6210211.06   828640.06       0.133432
5        June   9518893.82  1473753.82       0.154824
6        July   8102920.19   923865.69       0.114016
7      August   5864622.42   791066.42       0.134888
8   September  10882697.27  1786735.27       0.164181
9     October  21671431.02  3439781.02       0.158724
10   November  12651417.50  1370102.50       0.108296
11   December  17367228.98  2717329.98       0.156463

In [6]:
# Lucro total e margem de lucro

# Lucro Anual
profit_margin_year = (
    finances
        .groupby('year')[['sales', 'profit']]
        .sum()
        .reset_index()
)

# Margem de lucro
profit_margin_year['profit_margin'] = (
    profit_margin_year['profit'] / profit_margin_year['sales']
)

profit_margin_year

   year        sales       profit  profit_margin
0  2013  26415255.51   3878464.51       0.146827
1  2014  92311094.78  13015237.78       0.140993

In [7]:
# Houve crescimento ou queda de vendas e lucro ao longo do tempo?
finances.head()

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Montana,High,200,5,350,70000.0,9800.0,60200.0,52000.0,8200.0,2014-05-01,5,May,2014
1,Small Business,Germany,Carretera,Low,214,3,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
2,Small Business,Germany,VTT,Low,214,250,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
3,Midmarket,Canada,Paseo,Low,218,10,15,3270.0,130.8,3139.2,2180.0,959.2,2014-09-01,9,September,2014
4,Government,Germany,Paseo,High,241,10,20,4820.0,482.0,4338.0,2410.0,1928.0,2014-10-01,10,October,2014

In [10]:
# Quais meses apresentam **melhor e pior performance financeira?

monthly_performance = (
    finances
        .groupby(["month_name"])[["sales", "profit"]]
        .sum()
        .reset_index()
)


monthly_performance.sort_values("sales", ascending=False).head()
monthly_performance.sort_values("profit", ascending=False).head()

   month_name        sales      profit
10    October  21671431.02  3439781.02
2    December  17367228.98  2717329.98
11  September  10882697.27  1786735.27
6        June   9518893.82  1473753.82
9    November  12651417.50  1370102.50

## üîé Insights ‚Äì Desempenho Financeiro

### üìà Evolu√ß√£o do Faturamento ao Longo do Tempo
A an√°lise do faturamento anual evidencia um crescimento expressivo entre 2013 e 2014. O volume de vendas saltou de aproximadamente **26,4 milh√µes** para **92,3 milh√µes**, indicando uma forte expans√£o do neg√≥cio no per√≠odo analisado. Esse crescimento sugere aumento de demanda, expans√£o de mercado ou maior penetra√ß√£o comercial no segundo ano.

No recorte mensal, observa-se um comportamento sazonal relevante. Meses como **outubro, dezembro e novembro** concentram os maiores volumes de faturamento, enquanto **mar√ßo, agosto e maio** apresentam desempenho relativamente inferior.

---

### üí∞ Lucro e Margem de Lucro
Apesar do crescimento significativo em vendas, a **margem de lucro anual apresentou leve redu√ß√£o**, passando de **14,68% em 2013** para **14,10% em 2014**. Isso indica que o aumento do faturamento n√£o foi acompanhado proporcionalmente pelo lucro, sugerindo press√£o de custos, maior concess√£o de descontos ou altera√ß√£o no mix de produtos.

Mensalmente, observa-se varia√ß√£o relevante na margem, com **outubro, setembro, fevereiro e dezembro** apresentando margens superiores √† m√©dia, enquanto **julho e novembro** demonstram margens mais comprimidas.

---

### üìä Performance Financeira Mensal
Ao combinar faturamento e lucro, **outubro** se destaca como o m√™s de melhor performance financeira, liderando tanto em vendas quanto em lucro absoluto. **Dezembro e setembro** tamb√©m se mostram per√≠odos estrat√©gicos para o neg√≥cio.

---

### üß† Considera√ß√µes Finais da Etapa
O neg√≥cio apresenta crescimento s√≥lido, por√©m com sinais de **press√£o gradual sobre a margem**. As varia√ß√µes mensais indicam oportunidades claras para otimiza√ß√£o de custos e revis√£o de estrat√©gias comerciais em per√≠odos de alto volume.