## Efici√™ncia Operacional

### üéØ Objetivo desta se√ß√£o

Avaliar a efici√™ncia operacional do neg√≥cio, analisando a rela√ß√£o entre custos e vendas para identificar onde o custo est√° impactando negativamente a margem.

Esta etapa busca identificar produtos e pa√≠ses mais eficientes do ponto de vista operacional.

As principais perguntas a serem respondidas s√£o:  
‚úÖ Qual a rela√ß√£o entre **COGS e Sales** por produto?  
‚úÖ Onde o custo est√° **corroendo a margem de lucro**?  
‚úÖ Qual pa√≠s ou produto √© **mais eficiente operacionalmente**?

In [1]:
import pandas as pd

In [2]:
finances = pd.read_excel('../../database/financial.xlsx')

In [ ]:
# Qual a rela√ß√£o entre **COGS e Sales** por produto?

product_efficiency = (
    finances
        .groupby("product")[["sales", "cogs", "profit"]]
        .sum()
        .reset_index()
)


# Calcula a propor√ß√£o de COGS sobre as vendas
# Essa m√©trica indica o quanto do faturamento √© consumido por custos
product_efficiency["cogs_ratio"] = (
    product_efficiency["cogs"] / product_efficiency["sales"]
)


product_efficiency["profit_margin"] = (
    product_efficiency["profit"] / product_efficiency["sales"]
)

# Ordena os produtos do mais eficiente para o menos eficiente
# (menor COGS em rela√ß√£o √†s vendas)
product_efficiency.sort_values("cogs_ratio")

     product        sales        cogs      profit  cogs_ratio  profit_margin
0   Amarilla  17747116.07  14933012.0  2814104.07    0.841433       0.158567
4        VTT  20511921.02  17477313.0  3034608.02    0.852056       0.147944
3      Paseo  33011143.96  28213706.0  4797437.96    0.854672       0.145328
2    Montana  15390801.88  13276047.0  2114754.88    0.862596       0.137404
1  Carretera  13815307.89  11988503.0  1826804.89    0.867770       0.132230
5       Velo  18250059.47  15944067.0  2305992.47    0.873645       0.126355

In [5]:
# Onde o custo est√° corroendo a margem?

product_efficiency.sort_values("profit_margin")

     product        sales        cogs      profit  cogs_ratio  profit_margin
5       Velo  18250059.47  15944067.0  2305992.47    0.873645       0.126355
1  Carretera  13815307.89  11988503.0  1826804.89    0.867770       0.132230
2    Montana  15390801.88  13276047.0  2114754.88    0.862596       0.137404
3      Paseo  33011143.96  28213706.0  4797437.96    0.854672       0.145328
4        VTT  20511921.02  17477313.0  3034608.02    0.852056       0.147944
0   Amarilla  17747116.07  14933012.0  2814104.07    0.841433       0.158567

In [7]:
# Qual pa√≠s √© mais eficiente operacionalmente?

country_efficiency = (
    finances
        .groupby("country")[["sales", "cogs", "profit"]]
        .sum()
        .reset_index()
)

country_efficiency["cogs_ratio"] = (
    country_efficiency["cogs"] / country_efficiency["sales"]
)

country_efficiency["profit_margin"] = (
    country_efficiency["profit"] / country_efficiency["sales"]
)

country_efficiency.sort_values("cogs_ratio")

,country,sales,cogs,profit,cogs_ratio,profit_margin
2,Germany,23505340.82,19824952.0,3680388.82,0.843423,0.156577
1,France,24354172.29,20573151.5,3781020.79,0.844749,0.155251
0,Canada,24887654.89,21358426.0,3529228.89,0.858194,0.141806
3,Mexico,20949352.11,18041829.0,2907523.11,0.861212,0.138788
4,United States of America,25029830.18,22034289.5,2995540.68,0.880321,0.119679

In [8]:
# Qual produto √© mais eficiente operacionalmente?

efficiency_ranking = (
    finances
        .groupby(["country", "product"])[["sales", "cogs", "profit"]]
        .sum()
        .reset_index()
)

efficiency_ranking["cogs_ratio"] = (
    efficiency_ranking["cogs"] / efficiency_ranking["sales"]
)

efficiency_ranking["profit_margin"] = (
    efficiency_ranking["profit"] / efficiency_ranking["sales"]
)

efficiency_ranking.sort_values(
    ["profit_margin", "cogs_ratio"],
    ascending=[False, True]
)

,country,product,sales,cogs,profit,cogs_ratio,profit_margin
10,France,VTT,3811193.59,3094822.5,716371.09,0.812035,0.187965
16,Germany,VTT,3293983.77,2688051.0,605932.77,0.816049,0.183951
22,Mexico,VTT,3172396.71,2596798.0,575598.71,0.818560,0.181440
17,Germany,Velo,4392907.00,3604118.0,788789.00,0.820440,0.179560
11,France,Velo,3978096.24,3270166.0,707930.24,0.822043,0.177957
20,Mexico,Montana,1941329.31,1603640.0,337689.31,0.826053,0.173947
0,Canada,Amarilla,3855765.88,3208904.5,646861.38,0.832235,0.167765
1,Canada,Carretera,2610204.34,2174099.0,436105.34,0.832923,0.167077
6,France,Amarilla,4016427.13,3348559.5,667867.63,0.833716,0.166284
3,Canada,Paseo,7611520.99,6346503.0,1265017.99,0.833802,0.166198
18,Mexico,Amarilla,3077555.39,2578944.0,498611.39,0.837985,0.162015
14,Germany,Montana,3566044.37,3006606.0,559438.37,0.843121,0.156879
12,Germany,Amarilla,3960250.26,3348113.0,612137.26,0.845430,0.154570
9,France,Paseo,5597751.06,4759002.5,838748.56,0.850163,0.149837
27,United States of America,Paseo,6944325.78,5923722.5,1020603.28,0.853031,0.146969
15,Germany,Paseo,5229814.74,4485398.0,744416.74,0.857659,0.142341
24,United States of America,Amarilla,2837117.41,2448491.0,388626.41,0.863021,0.136979
19,Mexico,Carretera,2879601.42,2485933.0,393668.42,0.863291,0.136709
8,France,Montana,3527382.37,3066144.0,461238.37,0.869241,0.130759
25,United States of America,Carretera,1839839.55,1601348.0,238491.55,0.870374,0.129626
21,Mexico,Paseo,7627731.39,6699080.0,928651.39,0.878253,0.121747
13,Germany,Carretera,3062340.68,2692666.0,369674.68,0.879284,0.120716
26,United States of America,Montana,3644126.80,3209605.0,434521.80,0.880761,0.119239
2,Canada,Montana,2711919.03,2390052.0,321867.03,0.881314,0.118686
28,United States of America,VTT,5465592.64,4817696.0,647896.64,0.881459,0.118541
7,France,Carretera,3423321.90,3034457.0,388864.90,0.886407,0.113593
5,Canada,Velo,3329490.34,2958922.0,370568.34,0.888701,0.111299
4,Canada,VTT,4768754.31,4279945.5,488808.81,0.897498,0.102502
23,Mexico,Velo,2250737.89,2077434.0,173303.89,0.923001,0.076999
29,United States of America,Velo,4298828.00,4033427.0,265401.00,0.938262,0.061738

## üìä Efici√™ncia Operacional ‚Äî Insights

### ‚öôÔ∏è Rela√ß√£o entre COGS e Sales por Produto
**Amarilla** √© o produto mais eficiente operacionalmente, com menor COGS Ratio e maior margem. **Velo** e **Carretera** apresentam maior eros√£o de margem devido aos custos.

---

### ‚ö†Ô∏è Onde o Custo Corr√≥i a Margem
Produtos com COGS Ratio elevado apresentam margens mais comprimidas, mesmo com bom volume de vendas, indicando necessidade de revis√£o de custos ou pre√ßos.

---

### üåç Efici√™ncia Operacional por Pa√≠s
**Alemanha e Fran√ßa** se destacam como benchmarks operacionais, enquanto os **Estados Unidos** apresentam maior inefici√™ncia estrutural.

---

### üß† Conclus√µes da Etapa
- Efici√™ncia operacional explica melhor a margem do que volume
- Custos elevados comprometem a rentabilidade
- Estrat√©gias devem considerar produto + pa√≠s