## An√°lise de Produtos

### üéØObjetivo dessa sec√ß√£o

Avaliar o desempenho financeiro dos produtos, identificando:
- produtos que sustentam o lucro  
- produtos com alto volume, mas baixa efici√™ncia  
- potenciais candidatos √† revis√£o ou descontinua√ß√£o  
- rela√ß√£o entre custo de fabrica√ß√£o e rentabilidade  

As principais perguntas a serem respondidas s√£o:  
‚úÖ Quais produtos geram **mais lucro absoluto**?  
‚úÖ Quais produtos t√™m **baixa margem**, mesmo vendendo bastante?  
‚úÖ Existe produto que deveria ser descontinuado?  
‚úÖ Qual o impacto do pre√ßo de fabrica√ß√£o no lucro final?

In [1]:
import pandas as pd

In [2]:
finances = pd.read_excel('../../database/financial.xlsx')
finances.head()

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Montana,High,200,5,350,70000.0,9800.0,60200.0,52000.0,8200.0,2014-05-01,5,May,2014
1,Small Business,Germany,Carretera,Low,214,3,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
2,Small Business,Germany,VTT,Low,214,250,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
3,Midmarket,Canada,Paseo,Low,218,10,15,3270.0,130.8,3139.2,2180.0,959.2,2014-09-01,9,September,2014
4,Government,Germany,Paseo,High,241,10,20,4820.0,482.0,4338.0,2410.0,1928.0,2014-10-01,10,October,2014

In [5]:
# Quais produtos geram mais lucro absoluto?

# Obter relat√≥rio dos lucros de cada produto
# para uma avalia√ß√£o que identifica os produtos mais lucrativos.
product_profit = (
    finances
        .groupby('product')[['sales', 'profit']]
        .sum()
        .reset_index()
        .sort_values("profit", ascending=False)
)

product_profit

     product        sales      profit
3      Paseo  33011143.96  4797437.96
4        VTT  20511921.02  3034608.02
0   Amarilla  17747116.07  2814104.07
5       Velo  18250059.47  2305992.47
2    Montana  15390801.88  2114754.88
1  Carretera  13815307.89  1826804.89

In [13]:
# Quais produtos t√™m baixa margem, mesmo vendendo bastante?

product_margin = (
    finances
        .groupby('product')[['sales','profit']]
        .sum()
        .reset_index()
)

# Calcular a margem de lucro por produto
# atrav√©s das colunas Lucro (profit) e Vendas (sales)
product_margin['profit_margin'] = (
    product_margin['profit'] / product_margin['sales']
)

# Relat√≥rio: Produtos que vendem mais, por√©m margem baixa
product_margin.sort_values(['profit_margin', 'sales'], ascending=[True, False])

     product        sales      profit  profit_margin
5       Velo  18250059.47  2305992.47       0.126355
1  Carretera  13815307.89  1826804.89       0.132230
2    Montana  15390801.88  2114754.88       0.137404
3      Paseo  33011143.96  4797437.96       0.145328
4        VTT  20511921.02  3034608.02       0.147944
0   Amarilla  17747116.07  2814104.07       0.158567

In [17]:
# Existe produto que deveria ser descontinuado?

low_performance_products = product_margin.sort_values("profit")

low_performance_products

     product        sales      profit  profit_margin
1  Carretera  13815307.89  1826804.89       0.132230
2    Montana  15390801.88  2114754.88       0.137404
5       Velo  18250059.47  2305992.47       0.126355
0   Amarilla  17747116.07  2814104.07       0.158567
4        VTT  20511921.02  3034608.02       0.147944
3      Paseo  33011143.96  4797437.96       0.145328

In [18]:
# Impacto do custo de fabrica√ß√£o no lucro

manufacturing_impact = (
    finances
        .groupby("product")[["manufacturing_price", "profit"]]
        .mean()
        .reset_index()
)

manufacturing_impact

     product  manufacturing_price        profit
0   Amarilla                260.0  29937.277340
1  Carretera                  3.0  19643.063333
2    Montana                  5.0  22739.299785
3      Paseo                 10.0  23749.692871
4        VTT                250.0  27840.440550
5       Velo                120.0  21155.894220

## üì¶ An√°lise de Produtos ‚Äî Insights de Neg√≥cio

### üí∞ Produtos com Maior Lucro Absoluto
O produto **Paseo** lidera a gera√ß√£o de lucro, com aproximadamente **4,8 milh√µes**, seguido por **VTT** e **Amarilla**.

üìå Insight: O lucro est√° concentrado em poucos produtos-chave, o que representa risco estrat√©gico.

---

### üìâ Produtos com Baixa Margem e Alto Volume
Produtos como **Velo**, **Carretera** e **Montana** apresentam margens inferiores √† m√©dia, mesmo com volumes expressivos de vendas, indicando poss√≠veis inefici√™ncias de custo ou precifica√ß√£o.

---

### üö´ Avalia√ß√£o para Descontinua√ß√£o
Nenhum produto apresenta preju√≠zo absoluto. No entanto, produtos com baixa margem devem ser monitorados de perto antes de decis√µes estrat√©gicas.

---

### üè≠ Impacto do Custo de Fabrica√ß√£o
O custo de fabrica√ß√£o isoladamente n√£o explica a rentabilidade. Produtos com custo elevado podem ser lucrativos quando bem posicionados e corretamente precificados.

---

### üß† Conclus√£o da Etapa
O portf√≥lio √© financeiramente saud√°vel, por√©m apresenta concentra√ß√£o de lucro e oportunidades claras de otimiza√ß√£o.