In [ ]:
# Arquivo para visualizar apenas os dados tratados.

In [1]:
import pandas as pd

In [4]:
processed_data = pd.read_excel('../../database/financial.xlsx')
processed_data.head()

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Montana,High,200,5,350,70000.0,9800.0,60200.0,52000.0,8200.0,2014-05-01,5,May,2014
1,Small Business,Germany,Carretera,Low,214,3,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
2,Small Business,Germany,VTT,Low,214,250,300,64200.0,1284.0,62916.0,53500.0,9416.0,2013-10-01,10,October,2013
3,Midmarket,Canada,Paseo,Low,218,10,15,3270.0,130.8,3139.2,2180.0,959.2,2014-09-01,9,September,2014
4,Government,Germany,Paseo,High,241,10,20,4820.0,482.0,4338.0,2410.0,1928.0,2014-10-01,10,October,2014

In [7]:
display(processed_data['country'].unique())
display(processed_data['product'].unique())
display(processed_data['discount_band'].unique())
display(processed_data['units_sold'].unique())
display(processed_data['manufacturing_price'].unique())
display(processed_data['sale_price'].unique())

array(['Canada', 'Germany', 'Mexico', 'United States of America',
       'France'], dtype=object)

array(['Montana', 'Carretera', 'VTT', 'Paseo', 'Velo', 'Amarilla'],
      dtype=object)

array(['High', 'Low', 'Medium', 'No Discount'], dtype=object)

array([ 200,  214,  218,  241,  245,  257,  259,  260,  263,  266,  267,
        269,  270,  274,  278,  280,  292,  293,  306,  321,  322,  330,
        334,  341,  344,  345,  349,  357,  360,  362,  367,  380,  381,
        384,  386,  388,  410,  422,  432,  436,  442,  448,  472,  488,
        490,  492,  494,  500,  510,  521,  544,  546,  547,  549,  552,
        554,  555,  562,  567,  570,  571,  574,  579,  588,  591,  598,
        602,  604,  606,  609,  615,  623,  635,  639,  641,  645,  655,
        660,  662,  663,  671,  677,  678,  681,  689,  690,  700,  704,
        707,  708,  711,  720,  723,  727,  736,  742,  747,  766,  787,
        788,  790,  792,  795,  801,  807,  808,  809,  819,  831,  853,
        861,  865,  866,  873,  877,  880,  883,  886,  887,  888,  905,
        908,  912,  914,  918,  921,  923,  941,  943,  947,  952,  958,
        959,  970,  973,  974,  980,  982,  986,  991,  994, 1001, 1005,
       1006, 1010, 1013, 1016, 1023, 1030, 1031, 1033, 1038, 1055, 1056,
       1074, 1084, 1085, 1094, 1095, 1100, 1101, 1114, 1116, 1117, 1118,
       1122, 1123, 1135, 1138, 1142, 1143, 1153, 1158, 1159, 1174, 1175,
       1177, 1186, 1190, 1197, 1198, 1199, 1210, 1221, 1227, 1228, 1233,
       1236, 1249, 1250, 1259, 1262, 1265, 1269, 1281, 1282, 1283, 1287,
       1295, 1298, 1303, 1307, 1321, 1324, 1326, 1333, 1350, 1351, 1359,
       1362, 1366, 1368, 1369, 1372, 1375, 1384, 1389, 1393, 1395, 1397,
       1403, 1404, 1414, 1421, 1433, 1438, 1445, 1460, 1465, 1482, 1491,
       1493, 1496, 1498, 1513, 1514, 1520, 1527, 1530, 1531, 1535, 1540,
       1545, 1560, 1562, 1563, 1565, 1566, 1570, 1575, 1579, 1580, 1582,
       1583, 1594, 1596, 1598, 1607, 1611, 1614, 1618, 1630, 1642, 1645,
       1659, 1660, 1666, 1679, 1683, 1686, 1694, 1702, 1706, 1715, 1725,
       1727, 1728, 1731, 1734, 1738, 1743, 1744, 1757, 1760, 1761, 1767,
       1770, 1773, 1774, 1775, 1778, 1785, 1790, 1797, 1802, 1804, 1806,
       1808, 1817, 1823, 1830, 1834, 1857, 1858, 1859, 1865, 1867, 1870,
       1874, 1884, 1899, 1901, 1907, 1916, 1922, 1925, 1934, 1937, 1940,
       1945, 1946, 1947, 1953, 1954, 1956, 1958, 1967, 1976, 1984, 1987,
       1989, 2001, 2007, 2009, 2013, 2015, 2021, 2030, 2031, 2039, 2071,
       2072, 2074, 2076, 2087, 2092, 2101, 2104, 2109, 2110, 2116, 2125,
       2134, 2136, 2141, 2145, 2146, 2150, 2151, 2152, 2155, 2156, 2157,
       2161, 2167, 2177, 2178, 2181, 2198, 2214, 2215, 2222, 2227, 2234,
       2240, 2255, 2261, 2276, 2294, 2296, 2297, 2299, 2300, 2301, 2313,
       2321, 2327, 2328, 2338, 2340, 2342, 2349, 2363, 2385, 2387, 2394,
       2409, 2416, 2417, 2420, 2425, 2428, 2431, 2434, 2436, 2438, 2441,
       2460, 2470, 2472, 2475, 2479, 2487, 2498, 2500, 2501, 2518, 2521,
       2529, 2532, 2535, 2536, 2541, 2548, 2559, 2565, 2567, 2574, 2579,
       2580, 2605, 2620, 2628, 2629, 2632, 2641, 2646, 2659, 2661, 2663,
       2665, 2671, 2682, 2689, 2696, 2706, 2708, 2723, 2729, 2734, 2747,
       2750, 2755, 2761, 2763, 2767, 2791, 2797, 2805, 2807, 2811, 2821,
       2826, 2832, 2838, 2844, 2851, 2852, 2861, 2876, 2877, 2903, 2905,
       2907, 2914, 2918, 2931, 2935, 2954, 2966, 2988, 2992, 2993, 2996,
       3165, 3199, 3244, 3421, 3445, 3450, 3495, 3513, 3520, 3627, 3675,
       3793, 3801, 3802, 3850, 3864, 3874, 3945, 3997, 4026, 4219, 4243,
       4251, 4492])

array([  5,   3, 250,  10, 120, 260])

array([350, 300,  15,  20,   7,  12, 125])